# Pandasとは

## Pandasの機能

`pandas`は`numpy`をより扱いやすく拡張したもの。統計データや表形式のデータをうまく扱える。

In [ ]:
import numpy as np
import pandas as pd

## Numpyとの関係

pandasのデータ型は`numpy`のデータ型を拡張している。そのため、pandasの中では、numpyの機能をそのまま利用している部分が存在する。

`numpy`のデータ型。

<https://docs.scipy.org/doc/numpy/reference/arrays.scalars.html>


`pandas`のデータ型。

<https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html#basics-dtypes>

# データの作成

Pandasには`Series`と`Dataframe`という2つの型が存在する。

## Series

`Series`は1次元のデータ。表の1列(横方向1列、縦方向に複数行)を表現する。

### Seriesの使い方

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

`.values`で`numpy`の配列が取得できる

In [ ]:
data.values

numpy配列のような取得ができる。

In [ ]:
data[1]

In [ ]:
data[1:3]

### インデックスの使用

インデックスは、`Series`の要素にアクセスする方法を提供する。

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])

`Series`のインデックスは以下で取得できる。`Index`オブジェクトで表現される。

In [ ]:
data.index

インデックスには整数以外も用いることができる。

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
data

In [ ]:
data['b']

インデックスは順番に並んでいる必要がない

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=[2, 5, 3, 7])

In [ ]:
data[5]

インデックスを用いた`pd.Series`は辞書のように扱える。

In [ ]:
population = pd.Series({
  'California': 38332521,
  'Texas': 26448193,
  'New York': 19651127,
  'Florida': 19552860,
  'Illinois': 12882135
})
population

In [ ]:
population['California']

In [ ]:
population['Texas':'Florida']

### Seriesオブジェクトの作成

Pythonのリストから

In [ ]:
pd.Series([2, 4, 6])

数値を1つ指定したときは、指定したインデックス分で埋められる。

In [ ]:
pd.Series(5, index=[100, 200, 300])

Pythonの辞書から

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'})

インデックスを明示的に指定すると、インデックスは指定されたものを使用する。

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

## DataFrame

データフレームは2次元のデータで、表を表現する。

### DataFrameの使い方

In [ ]:
population = pd.Series({
  'California': 38332521,
  'Texas': 26448193,
  'New York': 19651127,
  'Florida': 19552860,
  'Illinois': 12882135
})
population

In [ ]:
area = pd.Series({
  'California': 423967,
  'Texas': 695662,
  'New York': 141297,
  'Florida': 170312,
  'Illinois': 149995
})
area

In [ ]:
states = pd.DataFrame({
  'population': population,
  'area': area
})
states

### DataFrameのインデックス

`DataFrame`もインデックスを持つ。

In [ ]:
states.index

`DataFrame`では、列があるので、その列もインデックスとして取得できる。

In [ ]:
states.columns

`DataFrame`から1列を`Series`として取得できる。

In [ ]:
states['area']

`DataFrame`は2次元のリストからも作成できる。

In [ ]:
data = pd.DataFrame([
  [1.1, 1.3, 1.8, 1.6, 1.5],
  [2.3, 2.1, 2.6, 2.8, 2.7],
])
data

`numpy`の配列と異なり、1つ目のインデックスは**行ではなく**列を指す。

In [ ]:
data[0]

2つ目のインデックスが行を指す。

In [ ]:
data[0][0]

### DataFrameの作成

外部のCSVファイルを読み込んで。

In [ ]:
pd.read_csv('sample_data/california_housing_test.csv')

Seriesオブジェクトから

In [ ]:
population = pd.Series({
  'California': 38332521,
  'Texas': 26448193,
  'New York': 19651127,
  'Florida': 19552860,
  'Illinois': 12882135
})

pd.DataFrame(population, columns=['population'])

辞書のリストから。

In [ ]:
pd.DataFrame([
  {'a': 1, 'b': 2},
  {'a': 3, 'b': 4},
  {'a': 5, 'b': 6},
])

欠損値があるときは`NaN`で埋められる。

In [ ]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

`Series`の辞書から。

In [ ]:
population = pd.Series({
  'California': 38332521,
  'Texas': 26448193,
  'New York': 19651127,
  'Florida': 19552860,
  'Illinois': 12882135
})

area = pd.Series({
  'California': 423967,
  'Texas': 695662,
  'New York': 141297,
  'Florida': 170312,
  'Illinois': 149995
})

pd.DataFrame({
  'population': population,
  'area': area
})

`numpy`配列から。

In [ ]:
data = np.random.rand(3, 2)
data

In [ ]:
pd.DataFrame(
  data,
  columns=['foo', 'bar'],
  index=['a', 'b', 'c']
)

# データの選択

### Series

In [ ]:
data = pd.Series(
  [0.25, 0.5, 0.75, 1.0],
  index=['a', 'b', 'c', 'd']
)

data

In [ ]:
data['b']

キーを含むかの検証。

In [ ]:
'a' in data

In [ ]:
data.keys()

In [ ]:
list(data.items())

インデックスを用いた値の変更

In [ ]:
data['e'] = 1.25
data

インデックスによるスライス

In [ ]:
data['a':'c']

自動的に割り当てられる整数を用いたスライス。
インデックスによるスライスでは、終点の項目を含むが、整数による取得では含まない点に注意。

In [ ]:
data[0:2]

条件を用いたマスク

In [ ]:
data[(data > 0.3) & (data < 0.8)]

インデックス属性

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

これは明示的なインデックスが使用されている。

In [ ]:
data[1]

スライスのときは暗黙的な整数インデックスが使用される。

In [ ]:
data[1:3]

`loc`を使うと常に明示的なインデックスを使える。

In [ ]:
data.loc[1]

`iloc`を使うと暗黙的な整数インデックスが常に使用される。

In [ ]:
data.loc[1:3]

In [ ]:
data.iloc[1]

In [ ]:
data.iloc[1:3]

### DataFrame

In [ ]:
area = pd.Series({'California': 423967, 'Texas': 695662,
'New York': 141297, 'Florida': 170312,
'Illinois': 149995})

pop = pd.Series({'California': 38332521, 'Texas': 26448193,
'New York': 19651127, 'Florida': 19552860,
'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

In [ ]:
data['area']

In [ ]:
data.area

In [ ]:
data['density'] = data['pop'] / data['area']
data

DataFrameをnumpy配列として取得

In [ ]:
data.values

numpy配列形式で0番目を取り出すと行方向に取得される。

In [ ]:
data.values[0]

DataFrameで名前を指定すると列が取得される。

In [ ]:
data['area']

ilocを使用するとnumpyのスタイルで行列を取得できる。

In [ ]:
data.iloc[:3, :2]

locを使うとpd.DataFrameのインデックス形式で取得する。

In [ ]:
data.loc[:'Illinois', :'pop']

条件でフィルターできる。

In [ ]:
data.loc[data['density'] > 100, ['pop', 'density']]

値を書き換えられる。

In [ ]:
data.iloc[0, 2] = 90
data

行列を転置した表を取得できる。

In [ ]:
data.T

## pandasにおける計算

In [ ]:
data = pd.DataFrame(
  np.random.randint(0, 10, (3, 4)),
  columns=['A', 'B', 'C', 'D']
)

data

`numpy`の関数をそのまま適用できる。適用したあとはそのまま`pandas`の形式で計算される。

In [ ]:
np.exp(data)

In [ ]:
np.sin(data * np.pi / 4)

In [ ]:
data['sinA'] = np.sin(data['A'])
data

# 欠損値の処理

## 欠損値とは

欠損値はデータの中で値が欠測などの理由で無い場所のことをいう。

In [ ]:
data = pd.DataFrame({
  "col1": [1, 2, None, np.nan],
  "col2": [1.2, 2.3, None, np.nan],
  "col3": ['aaa', 'bbb', None, np.nan],
})
data

## 欠損値を探す

In [ ]:
data.isna()

In [ ]:
pd.isna(data)

In [ ]:
data.notna()

In [ ]:
pd.notna(data)

## 欠損値の削除

`dropna()`はデフォルトで欠損値のある行を削除する。

In [ ]:
data.dropna()

In [ ]:
aaa = data.dropna()
aaa.loc[0, 'col1'] = 5
aaa

`dropna`は元のDataFrameを破壊しない

In [ ]:
data

In [ ]:
df = pd.DataFrame(
  [[1, np.nan, 2],
  [2, 3, 5],
  [np.nan, 4, 6]]
)
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis='columns')

In [ ]:
df[3] = np.nan
df

全部値が無い列だけを削除する。`how`を使うと、1つでも値が無いor全部値が無いを制御できる。

In [ ]:
df.dropna(axis='columns', how='all')

1行あたり3つの値があれば残す。

In [ ]:
df.dropna(axis='rows', thresh=3)

## 欠損値を値で埋める

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

In [ ]:
data.fillna(0)

スマートな埋込。1つ前の行の値を使って値を入れる。

In [ ]:
data.fillna(method='ffill')

スマートな埋込。1つ後の行の値を使って値を入れる。

In [ ]:
data.fillna(method='bfill')

DataFrameにおける`fillna`

In [ ]:
df = pd.DataFrame(
  [[1, np.nan, 2],
  [2, 3, 5],
  [np.nan, 4, 6]]
)
df

In [ ]:
df.fillna(method='ffill', axis=1)

# データセットの連結

データセットの連結では、行方向に連結するか、列方向に連結するかで`concat`か`merge`を用いる。

### concat

In [ ]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

In [ ]:
def make_df(cols, ind):
  return pd.DataFrame({c: [str(c) + str(i) for i in ind] for c in cols}, ind)

In [ ]:
df1 = make_df('AB', [1, 2])
df1

In [ ]:
df2 = make_df('AB', [3, 4])
df2

In [ ]:
pd.concat([df1, df2])

In [ ]:
df1.append(df2)

In [ ]:
df3 = make_df('AB', [0, 1])
df3

In [ ]:
df4 = make_df('CD', [0, 1])
df4

In [ ]:
pd.concat([df3, df4], axis=1)

連結時に、片方にない列のあたいは欠損値となる。

In [ ]:
df5 = make_df('ABC', [1, 2])
df5

In [ ]:
df6 = make_df('BCD', [3, 4])
df6

単に`concat`すると無い部分は`NaN`で埋められる。

In [ ]:
pd.concat([df5, df6])

連結方法の指定で、`inner`を指定すると両方のDataFrameにある列のみを使う。

In [ ]:
pd.concat([df5, df6], join='inner')

### merge

In [ ]:
df1 = pd.DataFrame({
  'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
  'group': ['Accounting', 'Engineering', 'Engineering', 'HR']
})
df1

In [ ]:
df2 = pd.DataFrame({
  'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
  'hire_date': [2004, 2008, 2012, 2014]
})
df2

In [ ]:
df3 = pd.merge(df1, df2)
df3

In [ ]:
df4 = pd.DataFrame({
  'group': ['Accounting', 'Engineering', 'HR'],
  'supervisor': ['Carly', 'Guido', 'Steve']
})
df4

1対多の結合

In [ ]:
pd.merge(df3, df4)

多対多の結合

In [ ]:
df5 = pd.DataFrame({
    'group': ['Accounting', 'Accounting', 'Engineering', 'Engineering', 'HR', 'HR'],
    'skills': ['math', 'spreadsheets', 'coding', 'linux', 'spreadsheets', 'organization']
})

In [ ]:
df5

In [ ]:
pd.merge(df1, df5)

mergeするときに、特定のキーでマージできる。

In [ ]:
pd.merge(df1, df2, on='employee')

結合方法を指定すると、無い列の処理を変更できる。

In [ ]:
df6 = pd.DataFrame({
  'name': ['Peter', 'Paul', 'Mary'],
  'food': ['fish', 'beans', 'bread']},
  columns=['name', 'food']
)
df6

In [ ]:
df7 = pd.DataFrame({
  'name': ['Mary', 'Joseph'],
  'drink': ['wine', 'beer']},
  columns=['name', 'drink']
)
df7

In [ ]:
pd.merge(df6, df7)

`merge`の`how`のデフォルトは`inner`。

In [ ]:
pd.merge(df6, df7, how='inner')

`outer`をつけると無いものは欠損値として連結が行われる。

In [ ]:
pd.merge(df6, df7, how='outer')

In [ ]:
pd.merge(df6, df7, how='left')

# 集約とグループ化

## 集約 最大･最小･平均 など

In [ ]:
ser = pd.Series(np.random.rand(5))
ser

In [ ]:
ser.sum()

In [ ]:
ser.mean()

In [ ]:
df = pd.DataFrame({
    'A': np.random.rand(5),
    'B': np.random.rand(5)
})

df

In [ ]:
df.mean()

In [ ]:
df.mean(axis='columns')

In [ ]:
import pandas as pd
from sklearn import datasets

iris = datasets.load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.describe()

## グループ化

In [ ]:
df = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C'],
    'data': range(6)
}, columns=['key', 'data'])

df

この段階では計算が何も行われておらず、実際にどういう計算をしたいかを指定した時点で計算が行われる。

In [ ]:
df.groupby('key')

In [ ]:
df.groupby('key').sum()

In [ ]:
df = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C'],
    'data1': range(6),
    'data2': np.random.randint(0, 10, 6)
}, columns = ['key', 'data1', 'data2'])
df

In [ ]:
df.groupby('key').aggregate(['min', np.median, max])